
// app colors
$linkBlue: #0d37f0;
$redditOrange: #FF5500;
$petrol:#25A18E;
$offwhite: #f4f4fa;

// google colors
$googleBlue: #4285F4;
$googleRed:#EA4335;
$googleGreen: #34A853;
$googleYellow: #FBBC04;


$shadowRegular: 3px 3px 3px 1px rgba(19, 18, 18, 0.5);
$shadowThin: 1px 1px 3px 1px rgba(19, 18, 18, 0.5);