@import "/app/styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Mono:wght@500&display=swaphttps://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');



body,
p,
label,
button,
input,
textarea,
select {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 16px;
  word-wrap: break-word;
  
}


h1 {
  
  font-size: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;

  
  //box-shadow: $shadowRegular;
  
  margin-left: 20px;
  margin-right: 20px;

  
  
  
  border-radius: 5px;

}


h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 200;
  font-size: 60px;
  text-align: center;


}


h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 200;
  font-size: 35px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 2px;
}


h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: left;
  // margin-top: 50px;
  // margin-bottom: 2px;
}

a {
  text-decoration: none;
  color: $linkBlue;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}


b {
  color: black;
}

body {
  background-color: white;
  margin: 0;
  
}



a {
  text-decoration: none;
  color: $linkBlue;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}


input{
  width: 80%;
}
.switch-title{  
  color: $linkBlue;
}

.switch-title-active{
  color: $linkBlue;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.switch-title-active:hover{
  text-decoration-thickness: 5px;
}

.switch-title:hover{
  text-decoration: underline;
  text-decoration-thickness: 5px;
  cursor: pointer;
  
}

.flex-content {
  @include flex-middle;
 
}


// phone
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 35px;
  }


  p {
    font-size: 16px;

    word-wrap: break-word;
  }

  span {
    font-size: 14px;
    word-wrap: break-word;
  }
}


//   tablet
@media only screen and (min-width: 601px) and (max-width: 768px) {
  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 40px;
  }

  p {
    font-size: 18px;

    word-wrap: break-word;
  }

  span {
    font-size: 18px;

    word-wrap: break-word;
  }
}