
@import "@/app/styles/variables.scss";


.wide {
    background-color: $offwhite;
    box-shadow: $shadowRegular;
    border-radius: 5px;
    margin: 10px 0; 
    padding: 20px; 
    min-height: 80vh;
    min-width: calc(100% - 60px);
}

.narrow{
    background-color: $offwhite;
    box-shadow: $shadowRegular;
    width: calc(60% - 40px);
    margin: 50px auto; 
    padding: 20px; 
    border-radius: 5px;
    min-height: 80vh;
}


// narrow on mobile
@media only screen and (max-width: 600px) {
    .narrow {
        width: 90%; 
        padding: 10px; /* Adjusted padding for narrower screens */
    }
}

// narrow on tablet
@media only screen and (max-width: 768px) {
    .narrow {
        width: 80%; 
        padding: 15px; 
    }
}