@import "@/app/styles/variables.scss";



.searchInput{
 background-color: white;   
 border-radius: 2.5px;
 border-style: none;
box-shadow: $shadowThin;

width: 70%;
height: 40px; 

}

.multi-select{
background-color: orange;

}