@import "/app/styles/variables.scss";

button {
    background-color: $linkBlue;
    border-radius: 2px;
    border-color: $linkBlue;
    border-style: solid;
    padding: 5px 15px 5px 15px;
    margin-bottom: 10px;
    box-shadow: $shadowThin;
    color: $offwhite;
    cursor: pointer;    
}


button:active {
    box-shadow: none;
    transform: translateY(1px) translateX(1px);
}



// button:hover{
//     background-color:$petrol;
//     border-color:$petrolDark;
// }

button a {
    text-decoration: none;
    color: $offwhite;
}

.icon{
    font-size: 100px;
    transform: scaleX(-1);
    
}