button {
    background-color: #8E64FF;
    border-radius: 2px;
    border-color: #8E64FF;
    border-style: solid;
    padding: 5px 15px 5px 15px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px 1px rgba(19, 18, 18, 0.5);

}


button:active{
    box-shadow: none;
    transform: translateY(1px) translateX(1px);
}


button:hover{
    background-color: #BBA8FF;
    border-color: #BBA8FF;
}